
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 mt-5">
        <img src="~/img/error.png" class="w-100 img-fluid" />
    </div>
    <div class="col-md-8 mt-5 display-4">
        <p class="lead">Bir hata oluştu.</p>
    </div>
</div>